# Creado por https://www.gitignore.io/api/osx
# Editar en https://www.gitignore.io/?templates=osx

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# El icono debe terminar con dos
Icono

# Miniaturas
._ *

# Archivos que pueden aparecer en la raíz de un volumen.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directorios potencialmente creados en un recurso compartido AFP remoto
.AppleDB
.AppleDesktop
Carpeta de basura de red
Artículos temporales
.apdisk

# Fin de https://www.gitignore.io/api/osx